@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
}

.container {
    max-width: 800px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

}

#county-map {
    margin-right: 0px;
    margin-left: 150px;
    display: inline-block;
}

.overall-map {
    text-align: center;
}

.toolbox {
    margin-top: 70px;
    margin-right: 60px;
    width: 65px;
    height: auto;
    vertical-align: middle;
    float: right;
}

.controls {
    width: 250px;
    height: auto;
    margin-top: 30px;
}



.side-controls2 {
    text-align: center;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 50px;
  font-size: 35px;
  font-weight: 600;
}

.header h3 span {
  font-size: 0.4em;
  margin-left: 1em;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}





.counties {
  fill: none;
  stroke: "black";
  stroke-width="2"
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }


#lugui-menu {
    background-color: lightgray;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/

    /*border: 2px solid darkgrey;*/
    border-radius: 5px;

    font-family: 'Lato', Helvetica, Arial;
    font-weight: normal;
    font-size: 11pt;
    white-space: nowrap;
    padding: 5;
    width: 100%;
}

#lugui-menu a {
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: royalblue;

}

#lugui-menu a:hover {
    /*font-size: 11pt;*/
    font-weight: bold;
}

#lugui-menu-actions span, form span {
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: royalblue;
    background-color: white;
    border-radius: 4px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#lugui-menu-actions span:hover {
    background-color: darkgrey;
}

#lugui-menu {
}

html, body {
    padding: 0;
    margin: 0;
    /*width: 100%;
    height: 100%;*/
}

/**
 * basic wrapper of LineUp
 */
#lugui-wrapper {
    clear: both;
    /*position: absolute;*/
    top: 35px;
    padding: 0;
    width: 100%;
/*    height: -moz-calc(100% - 35px);
    height: -webkit-calc(100% - 35px);
    height: calc(100% - 35px);*/
}


form {
    display: inline;
}

#drop_zone {
    border: 2px dashed #BBB;
    border-radius: 5px;
    padding: 1px 2em;
    text-align: center;
    color: #BBB;
}